<a href="https://colab.research.google.com/github/Madhulata1/Hosuing-Data-prediction-and-evalution-using-Regression-Algorithms-/blob/main/CodeinColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Doing regression analysis on Housing Data on which EDA(Exploratry Data Analysis) and converted Categorical Data to numric was done

In [3]:
# Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Train - Test Split
from sklearn.model_selection import train_test_split
## Statsmodel Library for Linear Regression
#Importing the statsmodel library
# import statsmodels.api as sm\\simplified_3_02_Regression_Algorithms.ipynb
from statsmodels.api import OLS

In [4]:
Data = pd.read_excel("PEP1_Regression.xlsx")

In [5]:
Data.head()

,Unnamed: 0,MSZoning,Street,LotShape,Neighborhood,Condition2,MasVnrType,ExterQual,Foundation,BsmtQual,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,0,3,1,3,5,2,1,2,2,2,...,548,0,61,0,0,0,0,0,2,2008
1,1,3,1,3,23,2,2,3,1,2,...,460,298,0,0,0,0,0,0,5,2007
2,2,3,1,0,5,2,1,2,2,2,...,608,0,42,0,0,0,0,0,9,2008
3,3,3,1,0,5,2,1,2,2,2,...,528,0,312,0,0,0,0,0,5,2009
4,4,3,1,3,3,2,2,3,1,3,...,608,0,42,0,0,0,0,0,9,2008

In [6]:
Data.tail()

,Unnamed: 0,MSZoning,Street,LotShape,Neighborhood,Condition2,MasVnrType,ExterQual,Foundation,BsmtQual,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
6331,6331,3,1,3,5,2,1,2,2,2,...,626,192,60,0,0,0,0,0,11,2007
6332,6332,3,1,3,20,2,3,2,2,2,...,840,0,36,0,0,0,0,0,5,2009
6333,6333,3,1,3,6,2,2,0,3,3,...,252,0,60,0,0,0,0,2500,5,2010
6334,6334,3,1,3,24,2,2,3,1,3,...,240,366,0,112,0,0,0,0,4,2010
6335,6335,3,1,3,7,2,2,2,1,3,...,276,736,68,0,0,0,0,0,6,2008

In [7]:
Data.columns

Index(['Unnamed: 0', 'MSZoning', 'Street', 'LotShape', 'Neighborhood',
       'Condition2', 'MasVnrType', 'ExterQual', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'CentralAir', 'Electrical', 'KitchenQual',
       'GarageType', 'GarageFinish', 'GarageQual', 'SaleType', 'SaleCondition',
       'SalePrice', 'Id', 'MSSubClass', 'LotFrontage', 'LotArea',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea',
       'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF',
       '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath',
       'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchebvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold'],
      dtype='object')

In [8]:
Data.drop(columns={'Unnamed: 0'}, inplace=True)

In [9]:
Data.head()

,MSZoning,Street,LotShape,Neighborhood,Condition2,MasVnrType,ExterQual,Foundation,BsmtQual,BsmtCond,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,3,1,3,5,2,1,2,2,2,3,...,548,0,61,0,0,0,0,0,2,2008
1,3,1,3,23,2,2,3,1,2,3,...,460,298,0,0,0,0,0,0,5,2007
2,3,1,0,5,2,1,2,2,2,3,...,608,0,42,0,0,0,0,0,9,2008
3,3,1,0,5,2,1,2,2,2,3,...,528,0,312,0,0,0,0,0,5,2009
4,3,1,3,3,2,2,3,1,3,3,...,608,0,42,0,0,0,0,0,9,2008

In [10]:
df_train, df_test = train_test_split(Data, train_size=0.7, random_state = 100)

In [11]:
df_train.shape, df_test.shape

((4435, 57), (1901, 57))

In [12]:
X_train = df_train.drop('SalePrice',axis=1)
Y_train = df_train['SalePrice']

In [13]:
#Applying linear regression
model1 = OLS(Y_train, X_train).fit()

In [14]:
#Finding the summary
print(model1.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:              SalePrice   R-squared (uncentered):                   0.979
Model:                            OLS   Adj. R-squared (uncentered):              0.978
Method:                 Least Squares   F-statistic:                              3736.
Date:                Thu, 22 Jun 2023   Prob (F-statistic):                        0.00
Time:                        15:01:23   Log-Likelihood:                         -51270.
No. Observations:                4435   AIC:                                  1.026e+05
Df Residuals:                    4381   BIC:                                  1.030e+05
Df Model:                          54
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
MSZoning       -928.6964    758.371     -1.225      0.221   -2415.487     558.094
Street         3.066e+04   7372.995      4.158      0.000    1.62e+04    4.51e+04
LotShape      -1186.0151    296.518     -4.000      0.000   -1767.340    -604.690
Neighborhood    148.7748     58.448      2.545      0.011      34.187     263.362
Condition2     -905.3295   1438.113     -0.630      0.529   -3724.758    1914.099
MasVnrType     -661.1024    673.050     -0.982      0.326   -1980.620     658.415
ExterQual     -1.058e+04    983.289    -10.760      0.000   -1.25e+04   -8652.869
Foundation     -991.9706    766.016     -1.295      0.195   -2493.750     509.809
BsmtQual      -5696.9328    671.706     -8.481      0.000   -7013.816   -4380.050
BsmtCond       1556.3309    613.889      2.535      0.011     352.798    2759.863
BsmtExposure  -1365.4763    385.017     -3.547      0.000   -2120.304    -610.649
CentralAir     2997.3003   2175.466      1.378      0.168   -1267.714    7262.314
Electrical     -575.2239    406.430     -1.415      0.157   -1372.032     221.584
KitchenQual   -6702.1701    686.299     -9.766      0.000   -8047.664   -5356.676
GarageType     -545.3375    258.879     -2.107      0.035   -1052.871     -37.804
GarageFinish  -2287.5413    641.791     -3.564      0.000   -3545.775   -1029.307
GarageQual      605.8834    642.770      0.943      0.346    -654.271    1866.038
SaleType         79.7667    238.125      0.335      0.738    -387.078     546.611
SaleCondition   786.8684    375.382      2.096      0.036      50.930    1522.807
Id               -0.5442      0.928     -0.587      0.557      -2.363       1.274
MSSubClass     -148.3505     11.808    -12.564      0.000    -171.500    -125.201
LotFrontage     -99.3412     23.199     -4.282      0.000    -144.822     -53.860
LotArea           0.4537      0.061      7.396      0.000       0.333       0.574
OverallQual    1.153e+04    535.908     21.518      0.000    1.05e+04    1.26e+04
OverallCond    3882.9888    476.270      8.153      0.000    2949.259    4816.719
YearBuilt       327.4254     29.940     10.936      0.000     268.728     386.122
YearRemodAdd     88.6122     28.769      3.080      0.002      32.210     145.014
MasVnrArea        8.6551      2.642      3.275      0.001       3.475      13.836
BsmtFinSF1        2.5047      1.074      2.331      0.020       0.398       4.611
BsmtFinSF2        1.3092      1.912      0.685      0.493      -2.438       5.057
BsmtUnfSF        -1.4852      1.055     -1.408      0.159      -3.553       0.583
TotalBsmtSF       2.3287      1.547      1.505      0.132      -0.705       5.363
1stFlrSF          4.2373      2.881      1.471      0.141      -1.411       9.886
2ndFlrSF          7.0230      2.660      2.640      0.008       1.807      12.239
LowQualFinSF     12.3676      7.049      1.755      0.079      -1.452      26.187
GrLivArea        23.6278      2.667      8.858      0.000      18.398      28.857
BsmtFullBath   6935.2127   1062.107      6.530      0.000    4852.946    9017.480
BsmtHalfBath   2473.0792   1583.079      1.562      0.118    -630.556    5576.714
FullBath       3282.5326   1154.112      2.844      0.004    1019.890    5545.175
HalfBath      -1907.6132   1126.870     -1.693      0.091   -4116.848     301.621
BedroomAbvGr  -1319.3216    773.491     -1.706      0.088   -2835.756     197.112
KitchebvGr    -4870.4453   2271.495     -2.144      0.032   -9323.724    -417.166
TotRmsAbvGrd   2164.3739    561.224      3.857      0.000    1064.091    3264.657
Fireplaces     4007.6085    739.750      5.418      0.000    2557.324    5457.893
GarageYrBlt      -8.9348     29.531     -0.303      0.762     -66.830      48.960
GarageCars     7810.6700   1239.910      6.299      0.000    5379.819    1.02e+04
GarageArea        1.4823      4.506      0.329      0.742      -7.352      10.316
WoodDeckSF       26.5674      3.498      7.595      0.000      19.710      33.425
OpenPorchSF       7.1114      6.960      1.022      0.307      -6.534      20.756
EnclosedPorch    18.2346      6.772      2.693      0.007       4.958      31.511
3SsnPorch        16.4361     13.080      1.257      0.209      -9.207      42.079
ScreenPorch      59.4126      6.676      8.900      0.000      46.325      72.501
PoolArea        -93.7645     10.239     -9.158      0.000    -113.838     -73.691
MiscVal          -1.1616      0.869     -1.337      0.181      -2.865       0.541
MoSold           60.6220    148.096      0.409      0.682    -229.722     350.966
YrSold         -379.2370     30.822    -12.304      0.000    -439.663    -318.811
==============================================================================
Omnibus:                     1954.845   Durbin-Watson:                   2.003
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           264594.824
Skew:                           1.068   Prob(JB):                         0.00
Kurtosis:                      40.779   Cond. No.                     1.21e+16
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is 5.27e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [15]:
# Probability(F-statistic): 0.00
# Here we do Hypothesis Testing so this is important

In [16]:
# R-squared (uncentered): 0.979
# Adj. R-squared (uncentered): 0.978
# Hence model prediction is excellent

In [17]:
Y_test = df_test['SalePrice']
X_test = df_test.drop('SalePrice',axis=1)

In [18]:
#Prediction and evaluation
from sklearn.metrics import mean_squared_error, r2_score
Y_test_pred= model1.predict(X_test)

In [19]:
#RMSE
mean_squared_error(Y_test,Y_test_pred, squared=False)

25039.399339493008

In [20]:
25039.399339493008/Y_test.mean()

0.1516635237872167

In [21]:
# 15.2 % error is prediction of SalePrice

In [22]:
from statsmodels.tools.eval_measures import rmse
rmse(Y_test,Y_test_pred)

25039.399339493008

In [23]:
from sklearn.metrics import r2_score
r2_score(Y_test, Y_test_pred)

0.7748727573093762

In [24]:
# R Square is 0.77487 whcih is closer to 1

In [25]:
def MAPE(Y_test_pred,Y_test):
  return np.mean(np.abs((Y_test - Y_test_pred)/Y_test)) * 100

print('MAPE:' + str(MAPE(Y_test_pred, Y_test)))

MAPE:9.698005817270491

In [26]:
# Feature select having p-value <= 0.05 as i,e; statistically significant value

In [27]:
data_new = Data[['Street','LotShape','Neighborhood','ExterQual','BsmtQual','BsmtCond','BsmtExposure','KitchenQual',
                 'GarageType','GarageFinish','SaleCondition','MSSubClass','LotFrontage','LotArea','OverallQual',
                 'OverallCond','YearBuilt','YearRemodAdd','MasVnrArea','BsmtFinSF1','2ndFlrSF','GrLivArea','BsmtFullBath',
                 'FullBath','KitchebvGr','TotRmsAbvGrd','Fireplaces','GarageCars','WoodDeckSF','EnclosedPorch',
                 'ScreenPorch','PoolArea','YrSold','SalePrice']]

In [28]:
data_new.head()

,Street,LotShape,Neighborhood,ExterQual,BsmtQual,BsmtCond,BsmtExposure,KitchenQual,GarageType,GarageFinish,...,KitchebvGr,TotRmsAbvGrd,Fireplaces,GarageCars,WoodDeckSF,EnclosedPorch,ScreenPorch,PoolArea,YrSold,SalePrice
0,1,3,5,2,2,3,3,2,1,1,...,1,8,0,2,0,0,0,0,2008,208500
1,1,3,23,3,2,3,1,3,1,1,...,1,6,1,2,298,0,0,0,2007,181500
2,1,0,5,2,2,3,2,2,1,1,...,1,6,1,2,0,0,0,0,2008,223500
3,1,0,5,2,2,3,2,2,1,1,...,1,6,1,2,0,0,0,0,2009,223500
4,1,3,3,3,3,3,1,2,1,1,...,1,6,1,2,0,0,0,0,2008,223500

In [29]:
data_new.tail()

,Street,LotShape,Neighborhood,ExterQual,BsmtQual,BsmtCond,BsmtExposure,KitchenQual,GarageType,GarageFinish,...,KitchebvGr,TotRmsAbvGrd,Fireplaces,GarageCars,WoodDeckSF,EnclosedPorch,ScreenPorch,PoolArea,YrSold,SalePrice
6331,1,3,5,2,2,3,0,2,1,1,...,1,7,0,2,192,0,0,0,2007,179600
6332,1,3,20,2,2,3,3,0,1,0,...,1,7,1,3,0,0,0,0,2009,287090
6333,1,3,6,0,3,1,3,2,1,1,...,1,9,2,1,0,0,0,0,2010,266500
6334,1,3,24,3,3,3,2,2,1,2,...,1,5,0,1,366,112,0,0,2010,142125
6335,1,3,7,2,3,3,3,3,1,0,...,1,6,0,1,736,0,0,0,2008,147500

In [30]:
data_new.dtypes

Street             int64
LotShape           int64
Neighborhood       int64
ExterQual          int64
BsmtQual           int64
BsmtCond           int64
BsmtExposure       int64
KitchenQual        int64
GarageType         int64
GarageFinish       int64
SaleCondition      int64
MSSubClass         int64
LotFrontage      float64
LotArea            int64
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
MasVnrArea       float64
BsmtFinSF1         int64
2ndFlrSF           int64
GrLivArea          int64
BsmtFullBath       int64
FullBath           int64
KitchebvGr         int64
TotRmsAbvGrd       int64
Fireplaces         int64
GarageCars         int64
WoodDeckSF         int64
EnclosedPorch      int64
ScreenPorch        int64
PoolArea           int64
YrSold             int64
SalePrice          int64
dtype: object

In [31]:
data_new.shape

(6336, 34)

In [32]:
# from 57 to we came to 34 columns

In [33]:
df_train1,df_test1 = train_test_split(data_new, train_size=0.7, random_state=100)

In [34]:
df_train1.shape, df_test1.shape

((4435, 34), (1901, 34))

In [35]:
X_train1 = df_train1.drop('SalePrice',axis=1)
Y_train1 = df_train1['SalePrice']

In [36]:
X_train1.head()

,Street,LotShape,Neighborhood,ExterQual,BsmtQual,BsmtCond,BsmtExposure,KitchenQual,GarageType,GarageFinish,...,FullBath,KitchebvGr,TotRmsAbvGrd,Fireplaces,GarageCars,WoodDeckSF,EnclosedPorch,ScreenPorch,PoolArea,YrSold
3989,1,3,18,3,3,3,3,3,1,2,...,1,1,6,1,1,0,0,0,0,2006
4884,1,0,24,3,3,3,2,3,1,1,...,1,1,5,0,1,0,0,0,0,2007
461,1,3,20,2,2,3,3,2,1,0,...,3,1,12,2,2,0,0,440,519,2006
3149,1,3,4,3,3,3,0,3,1,2,...,1,1,6,1,1,0,0,0,0,2008
1298,1,3,13,2,3,3,3,2,1,1,...,2,1,6,1,1,0,0,0,0,2009

In [37]:
X_test1 = df_test1.drop('SalePrice',axis=1)
Y_test1 = df_test1['SalePrice']

In [38]:
model2 = OLS(Y_train1,X_train1).fit()

In [39]:
print(model2.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:              SalePrice   R-squared (uncentered):                   0.979
Model:                            OLS   Adj. R-squared (uncentered):              0.978
Method:                 Least Squares   F-statistic:                              6109.
Date:                Thu, 22 Jun 2023   Prob (F-statistic):                        0.00
Time:                        15:02:50   Log-Likelihood:                         -51282.
No. Observations:                4435   AIC:                                  1.026e+05
Df Residuals:                    4402   BIC:                                  1.028e+05
Df Model:                          33
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Street         3.335e+04   7126.822      4.680      0.000    1.94e+04    4.73e+04
LotShape      -1171.1153    294.877     -3.972      0.000   -1749.222    -593.009
Neighborhood    181.5870     55.511      3.271      0.001      72.758     290.416
ExterQual     -1.045e+04    954.790    -10.945      0.000   -1.23e+04   -8578.643
BsmtQual      -5408.1447    650.547     -8.313      0.000   -6683.545   -4132.744
BsmtCond       1362.4553    602.719      2.261      0.024     180.822    2544.088
BsmtExposure  -1407.2522    380.847     -3.695      0.000   -2153.905    -660.600
KitchenQual   -6615.9195    678.805     -9.746      0.000   -7946.719   -5285.120
GarageType     -610.0884    248.870     -2.451      0.014   -1097.999    -122.178
GarageFinish  -2141.2707    633.662     -3.379      0.001   -3383.566    -898.975
SaleCondition   768.4765    354.661      2.167      0.030      73.163    1463.790
MSSubClass     -143.9859     11.317    -12.723      0.000    -166.173    -121.799
LotFrontage     -95.9121     22.822     -4.203      0.000    -140.656     -51.169
LotArea           0.4739      0.061      7.817      0.000       0.355       0.593
OverallQual     1.17e+04    515.055     22.708      0.000    1.07e+04    1.27e+04
OverallCond    3885.2852    459.902      8.448      0.000    2983.646    4786.924
YearBuilt       306.0802     25.500     12.003      0.000     256.087     356.073
YearRemodAdd    100.8353     26.862      3.754      0.000      48.173     153.497
MasVnrArea        8.8084      2.601      3.386      0.001       3.709      13.908
BsmtFinSF1        4.0502      1.295      3.128      0.002       1.512       6.589
2ndFlrSF         -0.5227      1.623     -0.322      0.747      -3.705       2.660
GrLivArea        29.6788      2.143     13.848      0.000      25.477      33.881
BsmtFullBath   6873.1878    974.724      7.051      0.000    4962.238    8784.138
FullBath       3615.0619   1057.063      3.420      0.001    1542.686    5687.438
KitchebvGr    -6084.6850   2209.161     -2.754      0.006   -1.04e+04   -1753.619
TotRmsAbvGrd   1526.3615    482.152      3.166      0.002     581.101    2471.622
Fireplaces     3995.6173    709.342      5.633      0.000    2604.950    5386.285
GarageCars     8202.5087    744.277     11.021      0.000    6743.351    9661.666
WoodDeckSF       26.9137      3.400      7.915      0.000      20.247      33.580
EnclosedPorch    17.1662      6.637      2.586      0.010       4.154      30.178
ScreenPorch      59.2471      6.598      8.979      0.000      46.311      72.183
PoolArea        -92.8301     10.018     -9.266      0.000    -112.471     -73.189
YrSold         -383.4413     27.338    -14.026      0.000    -437.037    -329.845
==============================================================================
Omnibus:                     1959.263   Durbin-Watson:                   2.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           259676.019
Skew:                           1.079   Prob(JB):                         0.00
Kurtosis:                      40.424   Cond. No.                     2.42e+05
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.42e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [40]:
# model 2 is better in performace by comparing teh vlues we can see AIC, BIC values are changed.

In [41]:
y_test_pred1= model2.predict(X_test1)

In [42]:
rmse(Y_test1,y_test_pred1) # slight improvement then model1

25099.157291100633

In [43]:
r2_score(Y_test1, y_test_pred1) # slight improvement then model1

0.7737969171075236

In [44]:
# Ridge Regression

In [45]:
from sklearn.linear_model import Ridge
ridgeReg = Ridge(alpha=0.001)
ridgeReg.fit(X_train1, Y_train1)

Ridge(alpha=0.001)

In [46]:
print(mean_squared_error(Y_train1,ridgeReg.predict(X_train1),squared=False))
print(mean_squared_error(Y_test1,ridgeReg.predict(X_test1),squared=False))

25381.50662270728
25029.385942976787

In [47]:
# Lasso Regression

In [48]:
from sklearn.linear_model import Lasso
lassoReg = Lasso(alpha=0.001)
lassoReg.fit(X_train1, Y_train1)

Lasso(alpha=0.001)

In [49]:
print(mean_squared_error(Y_train1,lassoReg.predict(X_train1),squared=False))
print(mean_squared_error(Y_test1,lassoReg.predict(X_test1),squared=False))

25381.506622334895
25029.384383460234

In [50]:
#Elastic net Regression

In [51]:
from sklearn.linear_model import ElasticNet
elastic = ElasticNet(alpha=0.001)
elastic.fit(X_train1,Y_train1)

ElasticNet(alpha=0.001)

In [52]:
print(mean_squared_error(Y_train1,elastic.predict(X_train1),squared=False))
print(mean_squared_error(Y_test1,elastic.predict(X_test1),squared=False))

25382.869771102552
25034.997152351312

In [53]:
# Above we can see the values of RMSE is almost same in Ridge, Lasso and ElasticNet Regression.